
.cartImgContainer img{
    width: 90px;
    border-radius: 10px;
    margin: 10px;
  
   
}
.cartImgContainer{
    border: 2px solid rgb(9, 191, 136);
    border-radius: 20px;
    background-color: azure;
}
.cartsContainer{
  display: grid;
  grid-template-columns: repeat(10,1fr);
  margin-bottom: 30px;
  margin-top: 30px;
  justify-items:center;
  justify-content: space-between;
  gap: 10px;
}
.cartsContainer button{
    margin: 10px;
}
@media screen and (max-width:767px){
    .cartsContainer{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-bottom: 30px;
        margin-top: 30px;
        
      }
}
@media screen and (min-width:768px) and (max-width:976px){
    .cartsContainer{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        margin-bottom: 30px;
        margin-top: 30px;
     
        
        
      }
}