#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.watchContainer{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 40px;
  justify-items: center;
  
}
.carContainer{
  border: 2px solid blue;
  display: grid;
  grid-template-rows: repeat(3,1fr);
}
@media screen and (max-width:767px){
  .watchContainer{
   display: grid;
  grid-template-columns: repeat(1,1fr);
  
  
  }
}
@media screen and (min-width:768px) and (max-width:976px) {
  .watchContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}