.watchContent{
    border: 2px solid rebeccapurple;
    border-radius: 20px;
    background-color: gainsboro;
    
}
.watchContent img{
    width: 300px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.watchContent button{
    margin-bottom: 30px;

}
